In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
flights = sns.load_dataset('flights')
X = flights.iloc[:, :-1]
y = flights.iloc[:, -1]
X

     year month
0    1949   Jan
1    1949   Feb
2    1949   Mar
3    1949   Apr
4    1949   May
..    ...   ...
139  1960   Aug
140  1960   Sep
141  1960   Oct
142  1960   Nov
143  1960   Dec

[144 rows x 2 columns]

In [3]:
X_month = X.iloc[:, -1]
X_month = pd.get_dummies(X_month)

In [4]:
X_others = X.iloc[:, :-1]
X_others

     year
0    1949
1    1949
2    1949
3    1949
4    1949
..    ...
139  1960
140  1960
141  1960
142  1960
143  1960

[144 rows x 1 columns]

In [5]:
X = X_others.join(X_month)
X.values

array([[1949,    1,    0, ...,    0,    0,    0],
       [1949,    0,    1, ...,    0,    0,    0],
       [1949,    0,    0, ...,    0,    0,    0],
       ...,
       [1960,    0,    0, ...,    1,    0,    0],
       [1960,    0,    0, ...,    0,    1,    0],
       [1960,    0,    0, ...,    0,    0,    1]], dtype=int64)